@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');
@import "./Variables.scss";

* {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
  body {
    background-color: white;
    padding-top: 10rem;
  }
  
  .app {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  ::-webkit-scrollbar {
    width: 1rem;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $green;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $silver;
  }

  .nav {
    width: 100%;
    @include flexCenter(row);
    position: fixed;
    top: 0;
    left: 0;
    height: 10rem;
    padding: 1rem;
    background-color: black;
    z-index: 999;

    #logo {
      height: 90%

      img {
        height: 100%
      }
    }

    &_links {
      @include flexCenter(row);
      gap: 2rem;
      &_link {
        text-transform: uppercase;
        color: white;
        font-size: 1.5rem;
        transition: 0.3s;

        &:hover {
          color: $silver;
        }

        &_active {
          color: $green;
        }
      }
    }

    &_join-now {
      color: black;
      text-transform: uppercase;
      font-size: 2rem;
      background-color: $green;
      border: 2px solid $green;
      padding: 1rem;
      transition: 0.3s;

      &:hover {
        background-color: black;
        color: $green;
      }
    }

    .burger {
      display: none;
    }
  }

  #burger-menu {
    display: none;
  }

  .home {
    width: 100%;

    &_hero {
      width: 100%;
      min-height: calc(100vh - 10rem);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background-image: url(https://i.imgur.com/0WnKEpB.jpg);
      background-size: cover;
      padding: 3rem;
  
      h1 {
        color: $green;
        font-size: 6rem;
        text-transform: uppercase;
      }
  
      p{
        color: white;
        font-size: 2rem;
      }
    }
  }

  .about {
    width: 100%;
    padding-top: 4rem;
    @include flexCenter(column);

    &_container {
      width: 100%;
      @include flexCenter(row);
      justify-content: space-around;
      &_text {
        width: 45%;
        h1 {
          font-size: 3.5rem;
          color: $green;
        }

        p {
          font-size: 1.5rem;
          color: $silver;
          padding: 2rem 0;
          span {
            color: $green;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        &_button {
          font-size: 2rem;
          line-height: 6rem;
          text-transform: uppercase;
          color: black;
          background-color: $green;
          padding: 1rem 2rem;
          border-radius: 30px;
          transition: 0.3s;
    
          &:hover {
            color: $green;
            background-color: black;
          }
        }
      }

      img {
        width: 40%;
      }
    }

    &_why-choose-us {
      width: 100%;
      @include flexCenter(column);

      h1 {
        color: black;
        font-size: 4rem;
        padding-top: 4rem;
      }

      &_cards {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: 4rem auto;

        &_card {
          width: 20%;
          @include flexCenter(column);

          img {
            width: 80%;
          }

          h2 {
            font-size: 2rem;
            margin: 2rem auto;
          }

          p {
            font-size: 1.5rem;
            text-align: justify;
          }
        }
      }
    }

    &_big-headline {
      @include flexCenter(column);
      background-color: $green;
      width: 100%;
      p {
        font-size: 4rem;
        color: white;
        font-weight: 600;
        margin: 4rem 0;
      }
    }
  }

  .classes {
    width: 100%;
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    row-gap: 5rem;
  }

  .class-card {
    width: 100%;
    aspect-ratio: 1/1;
    color: white;
    position: relative;
    h3 {
      font-size: 3rem;
      position: absolute;
      width: 90%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid transparent;
      transition: all 0.7s ease;
    }
    
    &:hover {
      color: $green;

      h3{
        border-color: $green;
      }

      .white {
        display: none;
      }

      .green{
        display: block;
      }
    }
  }

  .class-details {
    width: 100%;

    &_page {
      width: 100%;
      min-height: calc(100vh - 10rem);
      @include flexCenter(column);
      align-items: flex-start;
      img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
      }

      i {
        background-color: $green;
        color: black;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-transform: uppercase;
        margin: 1rem;
      }

      h1 {
        font-size: 4rem;
        color: $green;
        -webkit-text-stroke: 0.5px black;
        text-stroke: 0.5px black;
        margin-left: 1rem;
      }

      h2 {
        font-size: 2.5rem;
        color: black;
        margin-left: 1rem;
      }

      p{
        font-size: 2rem;
        color: $silver;
        margin: 3rem 1rem;
      }
    }
  }

  .our-friends {
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    gap: 10%;

    img {
      width: 20%;
      margin: 3rem 0;
    }
  }

  .schedule-header {
    width: 100%;
    padding: 4rem 10%;
    @include flexCenter(row);

    &_link {
      color: black;
      font-size: 2rem;
      line-height: 4rem;
      padding: 0 1rem;
      border: 1px solid $silver;
      border-radius: 30px;
      transition: 0.3s;
    }

    &_active {
      background-color: $green;
      border-color: $green;
    }
  }

  .schedule {
    width: 100%;
    min-height: 50vh;
    @include flexCenter(column);
    gap: 4rem;
    padding: 4rem 0;

    &_table_row {
      width: 90%;
      display: grid;
      grid-template-columns: 2fr 1fr 2fr 1fr;

      &_container {
        @include flexCenter(column);

        h1 {
          color: black;
          font-size: 2rem;
          font-weight: 600;
        }

        h2 {
          text-transform: uppercase;
          font-size: 1rem;
          color: $silver;
          font-weight: 200;
        }
      }
      &_join-now {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 2rem;
        color: black;
        background-color: $green;
        border: none;
        border-radius: 30px;
        width: 80%;
        transition: 0.3s;

        &:hover {
          color: white;
          background-color: $silver;
        }
      }
    }
  }

  .contact {
    width: 100%;
    min-height: calc(100vh - 10rem);
    @include flexCenter(row);
    padding: 4rem 10%;
    &_text {
      width: 40%;
      h1 {
        font-size: 3rem;
        line-height: 5rem;
        color: $green;
        -webkit-text-stroke: 0.5px $silver;
        text-stroke: 0.5px black;
      }

      p {
        font-size: 1.5rem;
        line-height: 3rem;
        color: black;
      }
    }

    &_form {
      width: 40%;
      @include flexCenter(column);
      gap: 1.5rem;

      &_personal-info, &_message {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
        label {
          color: $green;
          font-size: 1.5rem;
          span {
              color: $green;
              font-size: 1.5rem;
          }
        }
    
        input, textarea {
          width: 100%;
          font-size: 2rem;
          color: $silver;
          outline: none;
          background-color: white;
        }
    
        textarea {
          border-color: black;
        }
    
        input {
          border: none;
          border-bottom: 1px solid black;
        }

        &_button {
          width: 40%;
          font-size: 2rem;
          border: none;
          border-radius: 30px;
          color: white;
          background-color: $silver;
          text-transform: uppercase;
          padding: 0.5rem 2rem;
          transition: 0.3s;
          &:hover {
            color: black;
            background-color: $green;
            cursor: pointer;
          }
        }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2rem;

    &_left {
      width: 30%;
      height: 100%;
      @include flexCenter(column);
      align-items: flex-start;
      gap: 2rem;

      p {
        font-size: 1rem
      }

      &_contact-us {
        @include flexCenter(column);
        align-items: flex-start;
        gap: 1rem;
        
        &_container {
          @include flexCenter(row);
          gap: 1rem;

          img {
            width: 3rem;
          }
        }
      }
    }

    .map {
      width: 25%;
      aspect-ratio: 1/1;
      border: none
    };

    &_right {
      width: 30%;
      height: 100%;

      h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: $green;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 2rem;
        text-transform: uppercase;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }

  @media (orientation: portrait) {
    .nav{
      &_links, &_join-now {
        display: none;
      }

      .burger {
        display: block;
      }
    }

    #burger-menu-active {
      display: block;
      position: fixed;
      width: 100%;
      min-height: calc(100vh - 10rem);
      background-color: black;
      @include flexCenter(column);
      padding: 2rem 0;
      z-index: 999;
      a {
        color: $green;
        font-size: 5rem;
        text-transform: uppercase;
      }
    }
    .about {
      padding-top: 4rem;
      @include flexCenter(column);
  
      &_container {
        @include flexCenter(column);
        gap: 3rem;
        &:not(:nth-child(1)) {
          flex-direction: column-reverse;
        }
        
        &_text {
          width: 90%;
          h1 {
            font-size: 3.5rem;
          }
  
          p {
            font-size: 1.5rem;
            padding: 2rem 0;
            span {
              font-size: 1.5rem;
            }
          }
  
          &_button {
            font-size: 2rem;
            line-height: 6rem;
            padding: 1rem 2rem;
          }
        }
  
        img {
          width: 90%;
        }
      }
  
      &_why-choose-us {
        @include flexCenter(column);
  
        h1 {
          font-size: 4rem;
          padding-top: 4rem;
        }
  
        &_cards {
          @include flexCenter(column);
          gap: 4rem;
  
          &_card {
            width: 80%;
            @include flexCenter(column);
  
            img {
              width: 50%;
            }
  
            h2 {
              font-size: 2rem;
              margin: 2rem auto;
            }
  
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    .classes {
      width: 100%;
      grid-template-columns: 1fr;
    }

    .our-friends {
      img {
        width: 45%;
      }
    }

    .schedule-header {
      width: 100%;
      gap: 1rem;
      &_link {
        font-size: 1.5rem
      };
    }

    .schedule {
      width: 100%;
      @include flexCenter(column);
      gap: 4rem;
      padding: 4rem 0;
  
      &_table_row {
        width: 90%;
        padding: 2rem;
        grid-template-columns: 1fr;
        gap: 3rem;
        border: 1px solid $green;
  
        &_container {
          @include flexCenter(column);
        }

        &_join-now {
          width: 50%;
          margin: 0 auto;
          background-color: $green;
          color: black;
        }
      }
    }

    .contact {
      @include flexCenter(column);
      padding: 4rem;
      &_text {
        width: 100%;
      }
  
      &_form {
        width: 100%;

          &_button {
            width: 40%;
            background-color: $green;
            color: black;
          }
      }
    }

    .footer {
      @include flexCenter(column);
      gap: 3rem;
      &_left {
        width: 100%;
        @include flexCenter(column);
        gap: 5rem;
  
        p {
          font-size: 2rem
        }
  
        &_contact-us {
          @include flexCenter(column);
          align-items: flex-start;
          gap: 1rem;
          
          &_container {
            @include flexCenter(row);
            gap: 1rem;
  
            img {
              width: 4rem;
            }
          }
        }
      }

      .map {
        width: 100%;
      }
      &_right {
        width: 100%;
        @include flexCenter(column);
      }
    }
  }